body {
    display: flex;
}
.left {
    width : 20vw;
    position : relative;
    float : left;
    display: flex;
    flex-direction: column-reverse;
}
.right {
    width: 80vw;
    float : right;
}
.left input {
    width : 100%;
    border : 5px 7px;
    box-sizing: border-box;
}
#function-wrapper input {
    border : 0;
    border-top : 1px solid lightgrey;
    line-height: 1.6em;
}
#addFnBtn {
    width : 2em;
    height : 2em;
    border-radius : 1em;
    align-self: flex-end;
}
.container {
    width : 100%;
    display: flex;
    flex-direction: row;
}
.container input {
    width : calc( 100% - 1em );
    max-width : calc( 100% - 1em );
}
.container button {
    width : 1em; 
    max-width :  1em;
    padding : 0;
}
