body {
  display: flex;
  flex-direction: column;
}
.wrapper-top {
  height: calc(100% - 64px);
  width: 100%;
}
.wrapper-bottom {
  display: flex;
  flex-direction: row;
  height: 64px;
  width: 100%;
}
div.preview-wrapper {
  cursor: pointer;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.preview-wrapper:hover {
  background: rgba(0, 192, 192, 0.25);
}
.highlighted-preview-tile {
  background: rgba(0, 192, 192, 0.5);
}
