<!DOCTYPE html>
<html>

  <!-- BEGIN DOCS HEAD -->
  <head>
        <script src="scripts/prettify/prettify.js"> </script>
        <script src="scripts/prettify/lang-css.js"> </script>
        <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
        <link type="text/css" rel="stylesheet" href="/css/jsdoc-plotboilerplate.css">
        {% include head.html %}
    </head>
  <!-- END DOCS HEAD -->

  <body>

    {% include header.html %}

    <div class="header-padding">
        <div class="page-content">
            <div class="wrapper">
                <!-- Here starts JSDoc -->
                {{ content }}
                <!-- Here ends JSDoc -->
            </div>
        </div>
    </div>

    {% include footer.html %}

    <script> prettyPrint(); </script>
    <script src="scripts/linenumber.js"> </script>

  </body>

</html>