---
layout: base
---

    <div class="site-headerdemo">
      {% comment %}
      <canvas id="my-canvas" style="border: 1px solid #e8e8e8;">Your browser does not support the canvas tag.</canvas>
      {% endcomment %}
      <svg id="my-canvas" style="border: 1px solid #e8e8e8;"></svg>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

     
    <script src="https://plotboilerplate.io/repo/lib/alloy_finger.js"></script>
    <script src="https://plotboilerplate.io/repo/dist/plotboilerplate.min.js"></script>
    <script src="https://plotboilerplate.io/repo/demos/02-line-point-distance/barkbeetles.js"></script>
 
    <script src="../js/demobar.js"></script>
