---
layout: base
---

    <div class="site-headerdemo">
      {% comment %}
      <canvas id="my-canvas" style="border: 1px solid #e8e8e8;">Your browser does not support the canvas tag.</canvas>
      {% endcomment %}
      <svg id="my-canvas" style="border: 1px solid #e8e8e8;"></svg>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

     
    <script src="https://plotboilerplate.io/repo/lib/alloy_finger.js"></script>
    <script src="https://plotboilerplate.io/repo/dist/plotboilerplate.min.js"></script>
    <script src="https://plotboilerplate.io/repo/demos/02-line-point-distance/barkbeetles.js"></script>
 
    <script src="../js/demobar.js"></script>
    <script
        id="cookieWarn"
        data-lang-en="{
              'text': 'This website uses cookies.',
              'more_text': 'Click here for more information',
              'more_link': 'https://ec.europa.eu/info/law/law-topic/data-protection_en',
              'accept_text': 'OK',
              'reject_text': 'I reject',
              'reject_info': 'You can disable unwanted cookies by using this program',
              'reject_link': 'https://www.ghostery.com/',
              'close_text': 'Close'
        }" 
        data-callback="cookieWarnCallback" 
        data-debug="false"
        data-expire="365" 
        data-path="/"
        data-secure="false" 
        data-delay="750"
        data-class="customCookieWarningClass"
        data-style="#cookieWarnBox { font-family: unset; } #cookieWarnBox a { color: #00a808; } #cookieWarnBox .btn { text-transform: none; } #cookieWarnBox .btn-warning { display: none; }"
        type="text/javascript"
        src="../js/cookie-warn.min.js">
    </script>
    <script>
      var cookieWarnCallback = function(accepted) {
            if (accepted) {
                  /* do something... */
            } else {
                  /* do nothing... */
            }
      };
    </script>
