
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-BezierPath/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200513-basic-bezierpath.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-Circle/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200518-basic-circle.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-CircleSector/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20210110-0-circlesector.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-Line/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200518-basic-line.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-PBImage/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200518-basic-image.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-Polygon/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20210330-basic-polygon.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-Triangle/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200518-basic-triangle.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-Vector/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200518-basic-vector.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-VEllipse/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200518-basic-vellipse.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-VEllipseSector/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20210324-basic-elliptic-sector.png');"></div>
   </a>
</div>
<div class="demo-box-basic">
   <a class="no-decoration" href="{{ '/repo/demos/basic-Vertex/index.html' | prepend: site.url }}">
      <div style="background-image: url('https://plotboilerplate.io/repo/screenshots/screenshot-20200518-basic-vertex.png');"></div>
   </a>
</div>
