:root {
    --text-color: #b900ff;
    --value-color: #0088ff;
    --select-border-color: #5900ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3 {
    text-shadow: 2px 2px 6px var(--text-color);
}

#top-container, #bottom-container {
    /* width: 100%; */
    margin-left: 32px;
    margin-right: 32px;
}

#top-container {
    padding-top: 32px;
    /* height: 80%; */
}

#bottom-container {
    /* height: 20%; */
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.align-center {
    align-items: center;
}

.value-display {
    color: var(--value-color);
    font-weight: bold;
    text-shadow: 2px 2px 6px var(--value-color);
}

/* .w-50 {
    width: 50%;
} */

@media only screen and (min-width: 769px) {
    /* STYLES HERE */
    .w-lg-50 {
        width: 50%;
    }
    .w-lg-33 {
        width: 33%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) { 
    /* STYLES HERE */
    .w-md-50 {
        width: 50%;
    }
    .w-md-33 {
        width: 33%;
    }
}

@media only screen and (max-width: 480px) {
    /* STYLES HERE */
    .w-sm-50 {
        width: 50%;
    }
}

.playback-button {
    background-color: transparent;
    border: 0;
}

.playback-button:not(:disabled):hover {
    background-color: #5900ff;
}

#envelope-options-left {
    width: 35%;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}

#envelope-options-right {
    width: 65%;
    display: flex;
    flex-grow: 1;
} 

body.darkmode {
    background-color: #001240;
    color: #b900ff;
}

#note-selects-table tr td div {
    display: flex;
    flex-direction: column; 
}

select.note-is-playing {
    background-color: #5900ff;
    color: black;
}

select.note-select {
    width: 42px;
    max-width: 42px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 8px;
    height: 60px;
    padding: 0 5px;
}


/* custom-select  */
select
{
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* border-radius: 5px; */
    /* box-shadow: 0 0 1em rgba(white,0.2), inset 0 0 1px rgba(white,0.8); */
    /* box-shadow: 0 0 1em rgba(255,255,255,0.2), inset 0 0 1px rgba(255,255,255,0.8); */

    /* Styling the select background */
    background-color: #1FBDED; /* ligthen(#1FBDED,20%); */
}

select 
    {
        width: auto;
        margin: 0;
        margin-top: 1.0em;
        /* padding: .75em 1.5em; */
        outline: none;
        cursor: pointer;
        border: none;
        border-top: 1px solid var(--select-border-color);
        border-bottom: 1px solid var(--select-border-color);
        border-radius: 0;
        background-color: transparent;
        /* Styling the select text color */
        /* color: darken(#1FBDED,35%); */
        /* color: #1FBDED; */
        color: var(--value-color);


        /* removes the fucking native down arrow */
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
      
    }
select::-ms-expand {
    display: none;
}

select:before,
select:after {
    position: absolute;
    top: 50%;
    right: 1em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    pointer-events: none;
}

select:before {
    transform: translateY(-125%);
    /* Styling the down arrow */
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    /* border-bottom: .375em solid darken(#1FBDED,25%); */
    /* border-bottom: .375em solid #1FBDED;  */

}

select:after {
    /* Styling the down arrow */
    border-left: .25em solid transparent;
    border-right: .25em solid transparent;
    /* border-top: .375em solid darken(#1FBDED,25%); */
    /* border-top: .375em solid #1FBDED; */

}
