input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }

  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-runnable-track {
    /* background: #053a5f; */
    height: 0.5rem;
  }

  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    /* background: #053a5f; */
    height: 100%;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6px; /* Centers thumb on the track */
    background-color: #5cd5eb;
    height: 1.2rem;
    width: 2px;    
 }

 input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #5cd5eb;
  height: 100%;
  width: 2px;
}